<div class="custom-height w-full flex items-center justify-center">
  <form [formGroup]="formGroup" class="flex w-[30rem] h-fullrounded border border-primary p-8 flex-col gap-4">
    <h3 class="text-center text-3xl font-black">Log In</h3>

    <div class="field">
      <p-floatlabel variant="in">
        <input formControlName="email" pInputText id="in_label" autocomplete="off" fluid="true" />
        <label for="in_label">Email</label>
      </p-floatlabel>
      <small class="p-error block" *ngIf="email?.invalid && email?.dirty">Email is required</small>
    </div>

    <div class="field">
      <p-floatlabel variant="in">
        <p-password formControlName="password" [feedback]="false" fluid="true" />
        <label for="in_label">Password</label>
      </p-floatlabel>
      <small class="p-error block" *ngIf="password?.invalid && password?.dirty">Password is required</small>
    </div>

    <div class="flex justify-between items-center text-sm">
      <a routerLink="/forgot-password" class="text-primary hover:underline">Forgot password?</a>
      <a routerLink="/register" class="text-primary hover:underline">Register</a>
    </div>
    <p-button (onClick)="login()" label="Submit" fluid="true"/>
  </form>
</div>
