@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";


body {
  height: 100vh;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

:root[class="dark"] {
  body {
    @apply bg-zinc-800;
  }
}

body {
  @apply bg-surface-0;
}
