<footer class="w-full flex justify-center mt-12">
    <div class="container flex border-t border-t-primary py-16 justify-center">
        <div class="grow">
            <div class="w-full">
                <div class="flex gap-x-8 text-xl justify-center">
                    <ng-icon class="social-icon" name="simpleYoutubeshorts"></ng-icon>
                    <ng-icon class="social-icon" name="simpleX"></ng-icon>
                    <ng-icon class="social-icon" name="simpleTiktok"></ng-icon>
                    <ng-icon class="social-icon" name="simpleLinkedin"></ng-icon>
                    <ng-icon class="social-icon" name="simpleGithub"></ng-icon>
                </div>
            </div>
        </div>
    </div>
</footer>